<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Simple Sidebar - Start Bootstrap Template</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

<!-- Custom styles for this template -->
<link href="css/simple-sidebar.css" rel="stylesheet"></link>

</head>

<body>

	<div id="wrapper">

		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><a href="#"> English Solutions </a></li>
				<li><a href="/">Home</a></li>
				<li><a href="/courses">Courses</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
				<li sec:authorize="isAuthenticated()"><a class="nav-link"
					sec:authorize="hasAuthority('Admin')"
					sec:authentication="principal.authorities" href="/admin/"></a></li>
				<li sec:authorize="!isAuthenticated()"><a class="nav-link"
					href="/login">Login</a></li>
				<li sec:authorize="!isAuthenticated()"><a class="nav-link"
					href="/register">Register</a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post">
						<button class="btn btn-primary" type="submit" value="Logout">Logout</button>
					</form>
				</li>

			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<h1>Registration</h1>
				<span th:utext="${success}"></span>
				<form th:action="@{/register}" method="post" th:object="${user}">

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Email Address</label> <input type="email"
								th:field="*{email}" class="form-control"
								placeholder="Email Address" id="email" />
							<p class="help-block text-danger"></p>
						</div>
						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							class="help-block text-danger"></label>
					</div>
					<div class="control-group">
						<div
							class="form-group col-xs-12 floating-label-form-group controls">
							<label>Password</label> <input type="password"
								th:field="*{password}" class="form-control"
								placeholder="password" id="password" />
							<p class="help-block text-danger"></p>
						</div>
						<label th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}" class="help-block text-danger"></label>
					</div>
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Name</label> <input type="text" th:field="*{name}"
								class="form-control" placeholder="Name" id="name" />
							<p class="help-block text-danger"></p>
						</div>
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
							class="help-block text-danger"></label>
					</div>

					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Last Name</label> <input type="text"
								th:field="*{lastName}" class="form-control"
								placeholder="Last Name" id="lastName" />
							<p class="help-block text-danger"></p>
						</div>
						<label th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}" class="help-block text-danger"></label>
					</div>
					<div id="success"></div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" id="regButton">Register</button>
					</div>

				</form>
				<a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle
					Menu</a>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

</body>

</html>
